{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block headcontent %}
{{ super() }}
<script type="text/javascript">
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  document.getElementById("email").value = profile.getEmail();
  document.getElementById("avatar").value = profile.getImageUrl();
  document.getElementById("loginform").submit();
}
</script>
{% endblock %}

{% block content %}
<form id="loginform" action="/login" method="POST" style="display: none;">
    <div class="field has-addons">
        <div class="control">
            <input id="email" class="input" type="text" name="email"/>
            <input id="avatar" class="input" type="text" name="avatar"/>
        </div>
        <div class="control">
            <input class="button is-outlined" type="submit" name="login" value="Login"/>
        </div>
    </div>  
</form>


<div class="g-signin2" data-onsuccess="onSignIn"></div>
{% endblock %}