{% extends "base.html" %}

{% block title %}My saved words{% endblock %}

{% block content %}

<h1 class="title">{{wdl.name}}</h1>

<a class="button" href="/word-definition-list/{{wdl.id}}/add">Add a word definition</a>
<br><br>

<a class="button" href="/word-definition-list/{{wdl.id}}/launch-practice">Practice</a>
<br><br>

<div>
    {% for word_defn in word_defns %}
        <b>Word: {{word_defn.word}}</b>
        <br>
        POS: {{word_defn.part_of_speech}}
        <br>
        Defn: {{word_defn.defn}}
        <br>

        {% for example in word_defn.examples %}
            {% if example|length %}
                Example: {{example}}
                <br>
            {% endif %}
        {% endfor %}

        <a href="/word-definition/{{wdl.id}}/{{word_defn.id}}/delete">Delete</a>
        <br>
        <br>

    {% endfor %}
</div>

{% endblock %}