{% extends "base.html" %}

{% block title %}Add custom word{% endblock %}

{% block content %}

<h1 class="title">Add to {{wdl.name}}</h1>

<form method="POST">
    <div class="field">
        <label class="label">Word *</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter the word" name="word">
        </div>

        <label class="label">Part of speech *</label>
        <div class="control">
            <div class="select">
                <select name="pos">
                    <option>noun</option>
                    <option>pronoun</option>
                    <option>verb</option>
                    <option>adjective</option>
                    <option>adverb</option>
                    <option>preposition</option>
                    <option>conjunction</option>
                    <option>interjection</option>
                    <option>phrase</option>
                </select>
            </div>
        </div>

        <label class="label">Definition *</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter the definition" name="defn">
        </div>

        <label class="label">Examples</label>
        <div class="control">
            <input class="input" type="text" placeholder="Example 1" name="example1">
            <input class="input" type="text" placeholder="Example 2" name="example2">
            <input class="input" type="text" placeholder="Example 3" name="example3">
        </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Save</button>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="/word-definition-list/{{wdl.id}}">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}