{% extends "base.html" %}

{% block title %}{{word}}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <form action="/search">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" placeholder="Word" type="text" name="word"/>
                </div>
                <div class="control">
                    <input class="button is-outlined" type="submit" name="search" value="Search"/>
                </div>
            </div>  
        </form>
        <br>
        <h1 class="title is-2">
            {{word}}
        </h1>
        <div class="tags has-addons">
            {% if word_save_status %}
                <a href="/save-word" class="saved-status tag is-dark" id="save-unsave-word" saved="true" word="{{word}}">Unsave</a>
            {% else %}
                <a href="/save-word" class="saved-status tag is-dark" id="save-unsave-word" saved="false" word="{{word}}">Save</a>
            {% endif %}
            
        </div>
        {% for word_lexical_category in word_meaning.word_lexical_categories %}
            <p>
                {% for etymology in word_lexical_category.etymologies %}
                    {{etymology}}
                {% endfor %}
                <br>
            </p>
            <div class="container my-4">
                <p class="has-text-weight-semibold is-size-5">
                    {{word_lexical_category.lexical_category}}
                </p>
                <p>
                    {% if word_lexical_category.phonetic_spelling %}
                        <a href="{{word_lexical_category.pronunciation_audio}}" target=_blank>
                            {{word_lexical_category.phonetic_spelling}}
                        </a>
                    {% endif %}
                </p>
                <p>
                    {% for word_definition in word_lexical_category.word_definitions %}
                        Definition:
                        <br>
                        {% for definition in word_definition.definitions %}
                            {{definition}}
                            <br>
                        {% endfor %}
                        <br>
                        {% if word_definition.examples %}
                            Examples:
                            <br>
                        {% endif %}
                        {% for example in word_definition.examples %}
                            {{example}}
                            <br>
                        {% endfor %}
                        <br>
                        {% if word_definition.synonyms %}
                            Synonyms:
                            <br>
                        {% endif %}
                        {% for synonym in word_definition.synonyms %}
                            {{synonym}}
                            <br>
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <br>
                </p>
            </div>
        {% endfor %}
        <br>
        <form action="/">
            <input class="button is-dark" type="submit" name="" value="Another word"/>
        </form>
    </div>
</section>

<script type="text/javascript">
    function saveOrUnsave(e) {
        e.preventDefault();
        var source = e.target || e.srcElement;
        var saved = source.getAttribute("saved");

        var http = new XMLHttpRequest();
        var url = "/save-word";
        var word = source.getAttribute("word");
        var command = saved == "false" ? "save" : "unsave";
        var params = "word=" + word + "&command=" + command;

        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')

        http.onreadystatechange = function() {
            console.log(http.readyState, http.status)
            if (http.readyState == 4 && http.status == 200) {
                if (command == "save") {
                    source.setAttribute("saved", "true");
                    source.text = "Unsave"
                } else {
                    source.setAttribute("saved", "false");
                    source.text = "Save"
                }
                
            }
        }
        http.send(params);
    }
    document.getElementById("save-unsave-word").addEventListener("click", saveOrUnsave);
</script>
{% endblock %}