{% extends "base.html" %}

{% block title %}{{wdl.name}}{% endblock %}

{% block content %}

<h1 class="title">{{wdl.name}}</h1>

<a class="button" href="/word-definition-list/{{wdl.id}}/rename">Rename</a>
<a class="button" href="/word-definition-list/{{wdl.id}}/delete">Delete</a>
<br><br>

<a class="button" href="/word-definition-list/{{wdl.id}}/add-custom">Add a custom definition</a>
<br><br>

<a class="button" href="/word-definition-list/{{wdl.id}}/launch-practice">Practice</a>
<br><br>

<div>
    {% for word_defn in word_defns %}
        <b>{{word_defn.word}}</b>
        <br>
        {{word_defn.part_of_speech}}
        <br>
        {{word_defn.defn}}
        <br>

        {% for example in word_defn.examples %}
            {% if example|length %}
                {{example}}
                <br>
            {% endif %}
        {% endfor %}

        <a href="/word-definition/{{wdl.id}}/{{word_defn.id}}/edit">Edit</a>
        <br>
        <a href="/word-definition/{{wdl.id}}/{{word_defn.id}}/delete">Delete</a>
        <br>
        <br>

    {% endfor %}
</div>

{% endblock %}